<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940848525145-2snjjqt5dt3pj3smglmn60dnfd17nh14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940848525145-2snjjqt5dt3pj3smglmn60dnfd17nh14</string>
	<key>API_KEY</key>
	<string>AIzaSyAqypzjSyXW3hPknTGpamnEBvhmqKH8etI</string>
	<key>GCM_SENDER_ID</key>
	<string>940848525145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.intstagram2</string>
	<key>PROJECT_ID</key>
	<string>instagram-tut-fa6f8</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-tut-fa6f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940848525145:ios:0cbf03536f2faf18726648</string>
</dict>
</plist>